* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #011f3f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleContainer {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  padding: 6px;
  font-size: 2.5rem;
  color: #fef2bf;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.row {
  display: flex;
}

.btn {
  display: inline-block;
  height: 300px;
  width: 300px;
  border: 10px solid black;
  border-radius: 20%;
}

/* Adding transformation when the button is active */
.btn:active {
  transform: scale(0.98);
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.startBtnContainer {
  padding: 6px;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.startBtn,
.nextBtn {
  padding: 6px;
  width: 200px;
  height: 100px;
  font-size: xx-large;
  font-family: "Press Start 2P", cursive;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
  transform: scale(0.98);
}
